
.container{
  height: 95vh;
  padding: 15px;
  div{
    height: 10vh;
    display: flex;
    justify-content: center;
    h2{
        font-size: 30px;
        color: rgba(0, 86, 149, 1);
        margin-left: 65px;
  }
 }
}

.boxDoados{
  width: 15vw;
  article{
    border: solid 2px rgba(0, 86, 149, 1);
    border-radius: 15px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
   }
}
